  
<div class="content-container" ng-controller="ViewMpesaTransactionController">
    <ul class="breadcrumb">
        <li><a href="#/viewmpesatransaction/{{transaction.id}}">View Transaction</a></li>
        
        
        <li class="active">{{transaction.id}}</li>
    </ul>
    <div class="card">
      
        <br>
        <div class="content">
            <api-validate></api-validate>
            <br>
          <form name="payLoan" novalidate="" class="card form-horizontal well" ng-controller="ViewMpesaTransactionController"   rc-submit="submit()">
              <fieldset>
           <div class="form-group">
                <label class="control-label col-sm-4" for="officeId">Client<span
                        class="required">*</span></label>

                <div class="col-sm-5">
                    <select chosen="clientList" id="clientId" ng-model="formData.clientId" class="form-control" data-ng-change="getAccounts()"
                            ng-options="client.id as client.displayName for client in clientList" value="{{client.id}}">
                        <option value="">--Select Client--</option>
                    </select>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4" for="officeId">Account Type<span
                        class="required">*</span></label>

                <div class="col-sm-5">
                    <select chosen="clientAccounts" id="accountType" ng-model="formData.accountType" class="form-control" data-ng-change="getTypes()"
                            ng-options="account.type for account in clientAccounts" value="{{account.type}}">
                        <option value="">--Select Account Type--</option>
                    </select>
                </div>
            </div>
                <div class="form-group">
                <label class="control-label col-sm-4" for="officeId">Account<span
                        class="required">*</span></label>

                <div class="col-sm-5">
                    <select chosen="types" id="accountId" ng-model="formData.accountId" class="form-control" data-ng-change="getLoanorSaving()"
                            ng-options="type.id as type.productName+' - '+type.accountNo for type in types" value="{{type.id}}">
                        <option value="">--Select Account--</option>
                    </select>
                </div>
            </div>
 

        <div class="col-md-offset-3">
            <button class="btn btn-default" ng-click="cancel()">{{'label.button.cancel' | translate}}</button>
            <button class="btn btn-primary" >Pay</button>
        </div>
              </fieldset></form>
        </div>
    </div>
</div>