<div class="content-container" ng-controller="MpesaTransactionsController">
    <ul class="breadcrumb">
        <li class="active">Mpesa</li>
    </ul>
    <div class="card">
        <div class="toolbar">
            <h4>Mpesa Transactions</h4>
        </div>
        <br>
        <div class="content">
            <div class="row">
                 <form ng-submit="searchTransactions()" class="form-horizontal">
                      <div class="col-sm-2 col-md-2"></div>
                <div class="col-sm-4 col-md-4">
                    <input ng-model="filterText" type="text" ng-keyup="onFilter()" class="span marginbottom0px form-control" placeholder="Filter by name/mobile/account/receipt">
                </div>
                   
                       <div class="col-sm-4 col-md-4">
                <div class="input-group">
                                    <input data-ng-model="searchText" type="text"
                                           placeholder="Search by name/mobile/account/receipt"
                                           class="form-control unstyled"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary form-control">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                   
                                </div>
<!--                <div class="col-sm-2 col-md-2">
                    <a href="#/createuser" class="btn btn-primary pull-right" has-permission='CREATE_USER'><i class="fa fa-plus "></i>&nbsp;&nbsp;{{'label.button.createuser' | translate}}</a>
                </div>-->
                 </form>
            </div
        </div>
        </div>
        <hr/>
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>Name</th>
                <th>Date</th>
                <th>Mobile</th>
                <th>Amount</th>
                <th>Receipt No</th>
                <th>Account No</th> 
                <th>Client Id</th>
                
            </tr>
            </thead>
<!--            {"receipt":"MIA4KM9XHS","transactionDate":"09-10-2018","amount":"70000","phone":"729519300",
"name":"illary kipkemoi koros","accountNumber":"MBA00641","clientId":"562"}
         -->
            <tbody>
            <tr class="pointer-main" dir-paginate="transaction in transactions | orderBy:'id':reverse  | filter:filterText |  itemsPerPage: TransactionsPerPage">
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.name}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.transactionDate}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.phone}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.amount}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.receipt}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.accountNumber}}</td>
                <td class="pointer" data-ng-click="routeTo(transaction.id)">{{transaction.clientId}}</td>


            </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html">
    </div>
</div>