<div class="content-container" ng-controller="ViewMpesaTransactionController">
    <ul class="breadcrumb">
        <li><a href="#/mpesa">Mpesa Transactions</a></li>
        
        
        <li class="active">{{transaction.receipt}}</li>
    </ul>

    <div class="card well">
        <div class="pull-right">
            <div class="form-group">
                <button type="button" class="btn btn-primary" data-ng-click="routeToPay(transaction.id)" has-permission='MAPPAYMENT'><i class="fa fa-money"></i>
                    Map Payment
                </button>
            </div>
        </div>
      
                      <span style="margin-left: 10px;font-size:24px">
                            <strong> <i ng-hide="transaction.paid"
                                        class="fa fa-stop active "></i>
                                <i ng-show="transaction.paid"
                                   class="fa fa-stop overdue"></i></strong>
                      </span>
           
        <h3 class="bolder">{{transaction.name}}-{{transaction.receipt}}</h3>
        
        <div class="row">
  
	        <div class="col-md-6">
		        <table class="table table-bordered table-striped">
		            <tr>
		                <td>Name:</td>
		                <td>{{transaction.name}}</td>
		            </tr>
		            <tr>
		                <td>Mobile No:</td>
		                <td>{{transaction.phone}}</td>
		            </tr>
		            <tr>
		                <td>Transaction Date:</td>
		                <td>{{transaction.transactionDate}}</td>
		            </tr>
		            <tr>
		                <td>Amount:</td>
		                <td>{{transaction.amount}}</td>
		            </tr>
		            <tr>
		                <td>Receipt:</td>
		                <td>{{transaction.receipt}}</td>
		            </tr>
		            <tr>
		                <td>Account No.:</td>
		                <td>{{transaction.accountNumber}}</td>
		            </tr>
		            <tr>
		              <td>Client Id:</td>
		                <td>{{transaction.clientId}}</td>
		            </tr>
		        </table>
			</div>
		</div>
    </div>
</div>
          